[submodule "modules/modules/MMM-Face-Reco-DNN"]
	path = modules/modules/MMM-Face-Reco-DNN
	url = https://github.com/nischi/MMM-Face-Reco-DNN
[submodule "MMM-SmartTouch"]
	path = MMM-SmartTouch
	url = https://github.com/EbenKouao/MMM-SmartTouch
